<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--.xml文件中只有一个根节点，外部只有一个<beans></beans>，里面可以有多个<bean></bean>
          -->
    <bean id="user" class="com.spring.entity.User">

    </bean>

</beans>